* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    font-size: 12px;
}

html {
    overflow-x: hidden;
}

:root {
    --color-131921: #f57224;
    --logo-color: #f57224;
    --search-icon: #f57224;
    --search-bg: #f5f5f5;
    --footer-bg: #2e2e54;
}

a {
    text-decoration: none;
    display: inline-block;
}

.form-control:focus {
    box-shadow: none;
    border-color: inherit;
    background-color: var(--search-bg);
}


/*Haeder start */

.header-top-strip {
    background-color: var(--color-131921);
}

.logo-text {
    color: var(--logo-color);
}

.header-upper .input-group-text {
    background-color: var(--search-icon);
    color: aliceblue;
    border: none;
    cursor: pointer;
}

.header-upper.header-upper-links .links {
    text-decoration: none;
}

.gap-10 {
    gap: 10px;
}

.gap-12 {
    gap: 12px;
}

.gap-15 {
    gap: 15px;
}

.gap-30 {
    gap: 30px;
}

.gap-50 {
    gap: 40px;
}

.menu-links a,
.menu-bottom .dropdown {
    color: #333;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.3;
    background-color: white;
}

.menu-bottom .dropdown .btn:focus {
    box-shadow: none;
}

.form-control {
    background-color: var(--search-bg);
    border: none;
}

.form-control::placeholder {
    font-size: 12px;
}


/*Hader end*/


/* footer Start*/

footer {
    background-color: var(--footer-bg);
}

footer:not(:first-child) {
    border-top: 1px solid rgb(255, 255, 255, 0.8);
}

footer .input-group-text {
    background-color: var(--logo-color);
    color: #f5f5f5;
}

.social-icons a {
    color: white;
    border: 1px solid lightgray;
    padding: 8px 10px;
    border-radius: 50%;
}


/* footer end*/


/* home start*/

.home-wrapper-1 {
    background-color: #f5f5f5f5;
}

.shop-categories {
    padding: 10px 0px 10px 10px;
    background-color: #fff;
    height: 100%;
}

.shop-categories .categories-list a {
    color: #757575;
    font-size: 13px;
}

.banner .banner-img {
    height: 100%;
}

.advertisement-wrapper {
    height: 220px;
}

.advertisement-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4%;
}

.adver-img {}


/* services section*/

.services {}


/* categories section*/

.categories-item-list,
.categories-item-list-2 {
    width: 14%;
    height: 152px;
    background-color: #fff;
    border: 0.1px solid lightgrey;
    padding: 16px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    border-top: none;
    border-left: none;
    border-bottom: none;
    cursor: pointer;
}

.categories-item-list:hover,
.categories-item-list-2:hover {
    transform: scaleX(1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.categories-item-list:nth-child(8),
.categories-item-list-2:nth-child(8) {
    border-right: none;
}

.categories-item-list-2 {
    border-top: 0.1px solid lightgrey;
    border-left: none;
    border-bottom: none;
}

.cat-img {
    width: 80px;
    height: 80px;
}


/* Marquee start*/

.card-wrapper {
    background-color: #fff;
    padding: 15px;
}


/* Marquee end */


/*Breadcrumb start*/


/*Breadcrumb end*/


/*blog*/

.blog-btn {
    background-color: #f57224;
    color: #f5f5f5;
    border-radius: 10px;
    font-size: 13px;
}

.blog-btn:hover {
    background-color: transparent;
    color: #000;
    border: 0.5px solid lightgrey;
}

.grid-card {
    width: 22.5rem;
}

.grid-card-2 {
    width: 20.5rem;
}

.card .blog-find {
    border-radius: 20px;
}

.blog-find h5 {
    font-size: 14px;
}

.blog-find ul {
    list-style-type: none;
}

.blog-find ul>li {
    margin-bottom: 8px;
}

.blog-img {
    background-color: red;
}

.blog-img img {
    width: 100%;
    height: 400px;
}

.author img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.author a {
    font-size: 14px;
    color: #F57224;
}

.blog-content .blog-title {
    font-size: 30px;
}

.related-blog img {
    width: 155px;
}

.blog-content-left {
    padding-right: 40px;
}

.blog-content-left .blog-desc {
    text-align: justify;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
}


/*Feature Collection*/

.card {
    overflow: hidden;
    cursor: pointer;
}

.product-card:hover .action-bar {
    right: 10px;
}

.card-img-top {
    transition: 0.5s;
}

.card-img-top:nth-child(2) {
    display: none;
}

.product-card:hover .card-img-top:nth-child(1) {
    display: none;
}

.product-card:hover .card-img-top:nth-child(2) {
    display: block;
}

.action-bar {
    top: 15%;
    right: -23px;
    transition: 0.5s;
}

.wishlist-icon {
    top: 5%;
    right: 10px;
}


/*Special Products*/

.button {
    color: #f5f5f5;
    background-color: var(--color-131921);
    padding: 13px 33px;
    border-radius: 25px;
    transition: 0.5s;
}

.button:hover {
    color: #000;
    background-color: lightcyan;
    border-radius: 25px;
}


/*famous products*/

.famous-card .content p {
    color: gray;
    text-transform: uppercase;
}


/* home end*/


/*Our Store Start*/

.store-wrapper {
    background-color: #f5f5f5f5;
}

.store-wrapper .card {
    border-radius: 10px;
}

.filter-title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
}

.content ul {
    list-style-type: none;
    line-height: 20px;
    color: gray;
}

.content .form-check-input:checked,
.login-card-body .form-check-input:checked {
    background-color: #f57224;
    border-color: #f57224;
}

.content .form-check-input:focus,
.login-card-body .form-check-input:checked {
    box-shadow: none;
}

.sub-title {
    font-size: 13px;
    margin-bottom: 10px;
}

.colors {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.colors li {
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}


/*Product tag*/

.product-tags {
    flex-wrap: wrap;
}


/*Random Product*/

.random-product {
    margin-left: -20px;
    margin-right: -10px;
}

.random-product {
    border-bottom: 1px solid lightgrey;
}

.random-product h5 {
    font-size: 12px;
}

.random-product h5:hover {
    text-decoration: underline;
}

.star {
    font-size: 15px;
}


/*Filter Sort grid start*/

.filter-sort-grid {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.filter-sort-grid p {
    font-weight: 500;
}

.grid img {
    width: 35px;
    height: 35px;
    background-color: #f2f2f2f2;
    border-radius: 3px;
    padding: 8px;
    cursor: pointer;
}

.gr-12 {
    width: 100%;
}

.gr-6 {
    width: 49%;
}

.gr-4 {
    width: 32%;
}

.gr-3 {
    width: 24%;
}

.gr-12 .product-card .card-body {
    display: flex;
    gap: 20px;
}

.gr-12 .product-card .card-body .action-bar {
    top: 20%;
}

.gr-12 .product-card .card-body .card-img-top {
    width: 270px;
}


/*Filter Sort grid end*/


/*Our Store End*/


/* Contact Start*/

.contact-inner-wrapper {
    background-color: #fff;
    border-radius: 15px;
    padding: 30px 20px;
}

.contact-inner-wrapper>div {
    width: 48%;
}

.contact-inner-wrapper .contact-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
    text-align: left;
}

.contact-inner-wrapper ul {
    list-style: none;
}


/*Ques inner start*/

.ques-inner-wrapper {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 30px;
}

.ques-inner-wrapper .ques-box {
    border: 0.5px solid lightgrey;
    padding: 20px;
}

.ques-inner-wrapper .ques-box a {
    color: #1a9cb7;
}

.ques-inner-wrapper .ques-box h5 {
    text-transform: uppercase;
    font-weight: 400;
    line-height: 28px;
    font-size: 15px;
}


/*Ques inner end*/


/* Contact end*/


/* Compare Product start*/

.compare-product .card-body .cross {
    top: 25px;
    right: 25px;
    width: 22px;
    height: 20px;
    padding: 3px;
    cursor: pointer;
}

.compare-product .product-details .details-body {
    border-bottom: 0.5px solid lightgrey;
}

.compare-product .product-details h5 {
    font-size: 14px;
    line-height: 22px;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 8px;
}

.compare-product .product-details .details-title {
    font-size: 14px;
    font-weight: 500;
}


/* Compare Product end*/


/* Wishlis Product start*/

.compare-product .wish-card-body .cross {
    top: 15px;
    right: 60px;
    width: 22px;
    height: 20px;
    padding: 3px;
    cursor: pointer;
}


/* wishlist Product end*/


/* Login  start*/

.login-inner-wrapper {
    width: 900px;
}

.login-card {
    background-color: #fff;
    width: 100%;
    padding: 30px 20px;
}

.login-card-body>div {
    width: 48%;
}

.login-card-body .fb-btn,
.g-btn,
.login-btn {
    padding: 15px;
}

.login-card-body .fb-btn {
    background-color: #3B5998;
    color: #fff;
}

.login-card-body .g-btn {
    background-color: #D34836;
    color: #fff;
}

.login-card-body .login-btn {
    background-color: #F57224;
    color: #fff;
}


/* login end*/